body {
    background: #91C236;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}


h1 {
    color:white;
    font-family: 'Open Sans', sans-serif;
}

p {
    background: #FFB4A6;
}


.js-youtube {
    display: none;
}